body {
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background: url('../assets/hero.jpg') center/cover no-repeat;
}

.gallery-img {
  cursor: pointer;
  transition: 0.3s;
}

.gallery-img:hover {
  transform: scale(1.05);
}

.dark-mode {
  background-color: #121212 !important;
  color: rgb(173, 157, 169) !important;
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}